.version-container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.version-container-menu{
    display: flex;
    width: 10%;
}

.version-container-content{
    display: flex;
    width: 90%;
    color: white;
}